.venv
# The line above MUST BE the virtual environment directory name and MUST BE the first line in the file.
# The virtual environment directory name MUST CONTAIN 'venv' somewhere.
tests
sacamantecas_v*.zip
sacamantecas_log_*
sacamantecas_debug_*